<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Clean_Architecture_MVVMC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11B42DC52AD7FC2100E83190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11B42DDB2AD7FC2300E83190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11B42DE52AD7FC2300E83190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
